th2 {
font-weight: 10px;
font-size: 3em;
font-style: italic;
}
td {
  border: 1px solid rgb(255,255,255);
}
.center {
  display: block;
  left-margin: auto;
  right-margin: auto;
  width: 50%;
  
  #image{
    position: absolute;
    right: 200px;
    
  
}
